h1, h2{
    padding: 5px;
    font-family: Arial, serif;
    margin: auto;
    max-width: fit-content;
    width: 75%;
}
h1{font-size: 24px;}
h2{font-size: 20px;}
p{
    margin: auto;
    width: 100%;
    max-width: fit-content;
}
p img{
    min-width: 75%;
    min-height: 600px;
}
table{
    width: 90%;
    margin: auto;
    border: 2px solid;

}
tr:nth-of-type(even) {
    background-color:#ddd;
  }
table td{
    text-align: center;
}
table th{
    border: 2px solid;
    text-align: center;
}
#name{
    text-align: left;
}
#frame{
    background-color: gray;
    max-width: 100%;
    margin: auto;
}
#main{
    background-color: white;
    max-width: 90%;
    margin: auto;
}
#footer img{
    width: 50px;
}
#banner, #footer{
    
    font-family: "Times New Roman", serif;
    background-color: black;
    min-height: 40px;
    color: white;
}
form{
    margin: auto;
    max-width: fit-content;
}
a{
    color: blue;
}